* {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* Color Root */
:root {
    --primary: #150A33;
    --secondary: #5E35B1;
    --dark: #492792;
    --success: #00CEAB;
    --danger: #F7345E;
    --info: #22C8E5;
    --black: #000000;
    --white: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 13px;
	background-color: #fff;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 3px solid #fff;
    border-radius: 12px;
	background-color: #808080;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c;
}

/* My Custom */

/* my-text */
.my-text-primary {
    color: var(--primary);
}

.my-text-secondary {
    color: var(--secondary);
}

.my-text-dark {
    color: var(--dark);
}

.my-text-success {
    color: var(--success);
}

.my-text-danger {
    color: var(--danger);
}

.my-text-info {
    color: var(--info);
}

.my-text-black {
    color: var(--black);
}

.my-text-white {
    color: var(--white);
}

.my-text-link-danger {
    color: var(--danger);
    transition: .2s ease-in-out;
}

.my-text-link-danger:hover {
    color: var(--info);
}

.my-text-link-muted {
    color: #6C757D;
    transition: .2s ease-in-out;
}

.my-text-link-muted:hover {
    color: var(--danger);
}

/* my-bg */
.my-bg-primary {
    background: var(--primary);
}

.my-bg-secondary {
    background: var(--secondary);
}

.my-bg-dark {
    background: var(--dark);
}

.my-bg-success {
    background: var(--success);
}

.my-bg-danger {
    background: var(--danger);
}

.my-bg-info {
    background: var(--info);
}

.my-bg-black {
    background: var(--black);
}

.my-bg-white {
    background: var(--white);
}

.my-fillbg-kate {
    background: rgb(21, 10, 51, .8);
    transition: .3s ease-in-out;
}

.my-kate:hover .my-fillbg-kate {
    background: var(--secondary);
}

.my-btn-login-success {
    background: var(--success);
    color: var(--white);
    text-decoration: none;
    transition: .3s ease-in-out;
}

.my-btn-login-success:hover {
    background: var(--info);
    color: var(--white);
}

.my-btn-backto-danger {
    padding: 8px 16px;
    background: var(--danger);
    color: var(--white);
    box-shadow: 2px 2px 1px 1px var(--black);
    text-decoration: none;
    transition: .3s ease-in-out;
}

.my-btn-backto-danger:hover {
    background: var(--info);
    color: var(--white);
}

.my-bg-gradient {
    background: linear-gradient(to right,#82009f 0%,#5d34af 50%,#00ceab 100%);
}

/* my-btn */
.my-btn-link {
    text-decoration: none;
    color: var(--primary);
}

.my-btn-link:hover {
    color: var(--primary) !important;
}

.my-btn-slider-primary {
    color: var(--white);
    background: var(--primary);
    border: 1px solid var(--primary);
}

.my-btn-slider-primary:hover {
    color: var(--white);
    background: var(--dark);
    border: 1px solid var(--dark);
}

.my-btn-primary {
    color: var(--white);
    background: var(--primary);
    border: 1px solid var(--primary);
}

.my-btn-primary:hover {
    color: var(--white);
    background: var(--dark);
    border: 1px solid var(--dark);
}

.my-btn-outline-primary {
    color: var(--black);
    border: 1px solid var(--primary);
}

.my-btn-outline-primary:hover {
    color: var(--white);
    background: var(--primary);
}

.my-btn-outline-secondary {
    color: var(--black);
    border: 1px solid var(--secondary);
}

.my-btn-outline-secondary:hover {
    color: var(--white);
    background: var(--secondary);
}

/* my-border */
.my-border-bottom-primary {
    border: 1px solid var(--primary);
}

.my-border-top-primary {
    border-top: 3px solid var(--primary);
}

/* my-rounded */
.my-rounded {
    border-radius: 8px;
}

/* my-dropdown */
.dropup .my-dropdown-navb {
    top: auto;
    right: 11px;
    bottom: 100%;
    width: 100% !important;
    margin-bottom: .125rem;
}

/* Hero Content */

.my-content-card {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: var(--white);
}

.my-content-card .my-badge {
    background: var(--black);
    transition: .3s ease-in-out;
}

.card:hover .my-content-card .my-badge {
    background: var(--primary);
}

.my-content-card h4,
.my-content-card h6,
.my-content-card p {
    text-shadow: 1px 1px 1px var(--black);
}

/* Custom badge on card */
.my-badge {
    background: var(--primary); 
    box-shadow: 2px 2px 1px 1px var(--black);
    transition: .3s ease-in-out;
}

.card:hover .my-badge {
    background: var(--danger);
}

.my-badge-card-small .my-badge {
    background: var(--black);
    transition: .3s ease-in-out;
}

.card:hover .my-badge-card-small  .my-badge {
    background: var(--primary);
}

/* Sosial Media */
.my-btn-sosmed {
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    color: #fff;
    margin: 0 20px;
    border-radius: 100%;
    border: none;
    outline: none;
    transition: .3s ease-in-out;
}

.my-btn-sosmed:nth-child(1) {
    padding: 14px 18px;
    background: #1da1f2;
}

.my-btn-sosmed:nth-child(2) {
    padding: 14px 22px;
    background: #1877f2;
}

.my-btn-sosmed:nth-child(3) {
    padding: 14px 20px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.my-btn-sosmed:nth-child(4) {
    padding: 14px 17px;
    background: #ff0000;
}

.my-btn-sosmed:hover {
    color: var(--white);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .2)
}

/* my-footer */
.my-footer {
    height: 10vh;
    background: var(--primary);
}

/* my-content */
.my-content {
    margin-top: 25px;
}

/* Custom slider pengumuman */
#mySlidePengumuman .carousel {
    margin-top: 50px;
}

#mySlidePengumuman .carousel-inner {
    height: 24px;
    /* height: 100px; */
    /* background: black; */
}
#mySlidePengumuman .carousel-caption{
    color: #000;
    top: 0;
    left: 10px;
    padding: 0;
    margin: 4px;
    width: 100%;
    text-align: center;
}

#mySlidePengumuman .carousel-caption h1 {
    font-size: 14px;
    font-weight: normal;
}

#mySlidePengumuman .carousel-control-next,
#mySlidePengumuman .carousel-control-prev {
    display: none;
}

/* Custom back to top button */
#backToTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: backkground .3s, opacity .3s, visibility .3s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.my-btn-transparent {
    background: rgba(48, 48, 48, 0.4);
    outline: none;
    border: none;
}

.my-btn-transparent:hover {
    background: var(--dark);
    box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#backToTop.my-btn-show {
    opacity: 1;
    visibility: visible;
}

/* Custom Card Bootstrap */
.card .figure {
    overflow: hidden;
    border-radius: 8px;
}

.card .figure .my-img-zoom {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card:hover .figure .my-img-zoom {
    -webkit-transform: scale(1.15);
	transform: scale(1.15);
}

.my-card-title {
    color: var(--primary);
    transition: .3s ease-in-out;
}

.card:hover .my-card-title {
    color: var(--danger);
}

/* Custom Carousel Caption Bootstrap */
.carousel-caption {
    left: 20px;
    padding-bottom: 0;
}

.carousel-caption .my-link-carousel,
.carousel-caption p {
    text-shadow: 1px 1px 1px var(--black);
}

.carousel .my-badge {
    background: var(--primary);
    transition: .3s ease-in-out;
}

.carousel:hover .my-badge {
    background: var(--danger);
}

.carousel-control-next,
.carousel-control-prev {
    width: 6%;
    opacity: 0;
}

.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
    opacity: 1;
}

/* Custom Template Footer */
.footer-wrap {
    padding: 50px 0;
    background-size: cover;
}

.footer-wrap h3 {
    font-size: 1rem;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}
.copyright {
    font-size: 0.8rem;
    color: #ccc;
    text-align: center;
    background: var(--secondary);
}

footer .first_class p, footer .first_class h3{
    margin: 0 0;
    
}
footer{
    /* background: var(--dark); */
    background-color: #150a33;
}

footer .second_class_bdr{
    padding-top: 25px;
    border-top:1px solid #222;
}
  
footer dl, ol, ul {
    padding-left: 5px;
}

footer li{
    list-style: none;
}

.page-link {
    color: var(--primary);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: var(--primary);
    background-color: #eee;
    border-color: #ddd;
}


.pagination > .active > .page-link {
    background-color: var(--primary) !important;
    border: solid 1px var(--primary) !Important;
    color: #fff;
}

@media (max-width: 1200px) {
    .carousel-caption {
        left: 20px;
        padding-bottom: 0;
    }
}

@media (max-width: 992px) {
    .carousel-caption {
        left: 20px;
        padding-bottom: 0;
    }
}

@media (max-width: 768px) {
    .my-card-scroll {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .my-card-scroll::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    footer .round-btn {
        margin: 15px 4px;
    }
}

@media (max-width: 576px) {
    #mySlidePengumuman .carousel-caption{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .card .figure .my-img-zoom {
        height: 300px;
    }

    .my-btn-sosmed {
        margin: 0 8px;
    }

    .footer-wrap {
        padding-top: 50px;
    }
}

/* @media (min-width: 992px){
    .container{
      max-width:90%;
    }
} */